
.editor-text {
    height: 70vh;
    width: 80vw;
    background-color: black;
    color: lightgray;
    border: none;
    font-size: large;
    resize: none;
}

.editor-text:focus {
    outline: none;
}

.terminal {
    height: 30vh;
    border: 1px solid gray;
    position: relative;
    color: white;
    overflow-x: scroll;
}

.terminal > h3 {
    margin-left: 5px;
}

.terminal > span {
    margin-left: 5px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: white;
}

.close-button:hover {
    background-color: black;
}

.terminal-heading {
    font-size: large;
    font-weight: 100;
}

.terminal-content {
    font-weight: lighter;
}